
.container{
    display: grid;
    display: 100%;
    grid-template-columns: 400px;
    grid-template-rows: minmax(75px, auto);
    grid-template-areas:
    "hd"
    "sb"
    "nav"
    "title"
    "qt"
    "main"
    "article"
    "ft";
    background-color: #f8f8ff;
    grid-gap: 20px;
}
    #header {
        display: flex;
        font-size: 50px;
        grid-area: hd;
        font-family: 'Josefin Sans', sans-serif;
        color: teal;
        align-items: center;
        justify-content: center;
    }
    #subtitle {
        display: flex;
        font-size: 20px;
        grid-area: sb;
        font-family: 'Playfair Display', serif;
        align-items: center;
        justify-content: center;
    }
    .nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-area: nav;
        font-weight: bold;
        border-bottom: solid teal;
    }
        .navBox {
            display: flex;
            font-family: 'Playfair Display', serif;
            font-size: 20px;
            justify-content: space-evenly;
        }
                #navButton:hover {
                    cursor:pointer;
                    opacity: 0.5;
                }
    .title {
        display: grid;
        grid-area: title;
        font-size: 20px;
        margin-top: 10px;
        font-weight: 500;
        padding-bottom: 10px;
        text-align: justify;
        line-height: 1.2em;
    }
    .quote {
        display: flex;
        grid-area: qt;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .main{
        display: grid;
        grid-area: main;
        font-size: 20px;
        margin-top: 10px;
        font-weight: 500;
        padding-bottom: 10px;
        padding-left: 10px;
        text-align: justify;
        line-height: 1.2em;
    }
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-area: ft;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
        .bottomBox {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
        }
        #articles:hover {
            cursor: pointer;
            opacity: 0.5;
            color: black;
        }

    p {
        margin: 0em;
        padding: 1em;
    }
    q {
        margin-bottom: 0em;
        margin-top: 0em;
    }
    hr {
        border: 0;
        clear:both;
        display:block;
        width: 96%;
        background-color: black;
        height: 1px;
    }
    h1,
    h2 {
        text-align: center;
    }
    h3 {
        text-decoration: underline;
    }
    a {
        color: black;
        text-decoration: none;
    }
    a.navLine{
        color: black;
        text-decoration: none;
    }
    a.home {
        color: teal;
        text-decoration: none;
    }

    /* Tablet screens */
    @media (min-width: 600px) and (max-width:900px) {
      .container {
        // rules for medium-sized screen
        display: grid;
        grid-area: 100%;
        grid-template-columns: 600px;
        grid-template-rows: minmax(75px, auto);
        grid-template-areas:
        "hd"
        "sb"
        "nav"
        "title"
        "qt"
        "main"
        "article"
        "ft";
        background-color: #f8f8ff;
        justify-content: center;
    }
  }
    /* Laptop screens */
    @media (min-width:901px) {
      .container {
        // rules for large screen
        display: grid;
        grid-area: 100%;
        grid-template-columns: 1225px;
        grid-template-rows: minmax(75px, auto);
        grid-template-areas:
        "hd"
        "sb"
        "nav"
        "title"
        "qt"
        "main"
        "article"
        "ft";
        background-color: #f8f8ff;
        justify-content: center;
      }
    }
