#container.homepage {
  display: grid;
  display: 100%;
  grid-template-columns: 400px;
  grid-template-rows: 50px 20px 40px 250px 100px 130px;
  grid-template-areas: "hd" "sb" "nav" "main" "sidebar" "ft";
  background-color: #f8f8ff;
  justify-content: center;
  grid-gap: 15px;
}


/* Tablet screens */

@media (min-width: 600px) and (max-width:900px) {
  #container.homepage {
    // rules for medium-sized screen
    display: grid;
    grid-area: 100%;
    grid-template-columns: 125px 100px 125px 75px 175px;
    grid-template-rows: 50px 20px 40px 400px 75px;
    grid-template-areas: "hd hd hd hd hd" "sb sb sb sb sb" "nav nav nav nav nav" "main main main main sidebar" "ft ft ft ft ft";
    background-color: #f8f8ff;
    justify-content: center;
  }
}


/* Laptop screens */

@media (min-width:901px) {
  #container.homepage {
    // rules for large screen
    display: grid;
    grid-area: 100%;
    grid-template-columns: 200px 200px 200px 150px 100px;
    grid-template-rows: 50px 20px 40px 400px 75px;
    grid-template-areas: "hd hd hd hd hd" "sb sb sb sb sb" "nav nav nav nav nav" "main main main sidebar sidebar" "ft ft ft ft ft";
    background-color: #f8f8ff;
    justify-content: center;
  }
}

#container.blog {
  display: grid;
  display: 100%;
  grid-template-columns: 400px;
  grid-template-rows: minmax(75px, auto);
  grid-template-areas: "hd" "sb" "nav" "title" "qt" "main" "article" "ft";
  background-color: #f8f8ff;
  grid-gap: 20px;
}


/* Tablet screens */

@media (min-width: 600px) and (max-width:900px) {
  #container.blog {
    // rules for medium-sized screen
    display: grid;
    grid-area: 100%;
    grid-template-columns: 600px;
    grid-template-rows: minmax(75px, auto);
    grid-template-areas: "hd" "sb" "nav" "title" "qt" "main" "article" "ft";
    background-color: #f8f8ff;
    justify-content: center;
  }
}


/* Laptop screens */

@media (min-width:901px) {
  #container.blog {
    // rules for large screen
    display: grid;
    grid-area: 100%;
    grid-template-columns: 900px;
    grid-template-rows: minmax(75px, auto);
    grid-template-areas: "hd" "sb" "nav" "title" "qt" "main" "article" "ft";
    background-color: #f8f8ff;
    justify-content: center;
  }
}

#container.archive {
  display: grid;
  display: 100%;
  grid-template-columns: 400px;
  grid-template-rows: minmax(75px, auto);
  grid-template-areas: "hd" "sb" "nav" "title" "main" "ft";
  background-color: #f8f8ff;
  justify-content: center;
  grid-gap: 20px;
}

@media (min-width: 600px) and (max-width:900px) {
  #container.archive {
    // rules for medium-sized screen
    display: grid;
    grid-area: 100%;
    grid-template-columns: 475px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "hd" "sb" "nav" "title" "main" "ft";
    background-color: #f8f8ff;
    justify-content: center;
  }
}


/* Laptop screens */

@media (min-width:901px) {
  #container.archive {
    // rules for large screen
    display: grid;
    grid-area: 100%;
    grid-template-columns: 900px;
    grid-template-rows: minmax(75px, auto);
    grid-template-areas: "hd" "sb" "nav" "title" "main" "ft";
    background-color: #f8f8ff;
    justify-content: center;
  }
}
