.main {
  display: grid;
  grid-template-rows: 10fr 1fr;
  grid-area: main;
}

#picture {
  background-image: url('../images/try.jpg');
  background-size: cover;
  background-position: center;
}

#btn {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

#btn:hover {
  background-color: #F0F8FF;
  opacity: 0.5;
  transition: 0.15s ease-out;
}

#main.blog {
  display: grid;
  grid-area: main;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: justify;
  line-height: 1.2em;
}

#main.archive {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 200px;
  grid-gap: 10px;
  font-size: 28px;
}

#card {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#card:hover {
  cursor: pointer;
  background: teal;
  color: white;
}

@media (min-width: 600px) and (max-width:900px) {
  #main.archive {
    grid-template-columns: 1fr;
  }
}

@media (min-width:901px) {
  #main.archive {
    grid-template-columns: repeat(3, 1fr);
  }
}
