.nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: nav;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-bottom: 3px solid teal;
}
    .navBox {
        display: flex;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        justify-content: space-evenly;
    }
            #blog:hover {
                cursor:pointer;
                opacity: 0.5;
            }
            #about:hover {
                cursor:pointer;
                opacity: 0.5;
            }
