.sidebar {
    display: grid;
    grid-template-rows: 1fr 3fr  3fr  3fr  3fr;
    grid-area: sidebar;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding-left: 12px;
    gap: 2px;
}
    .sideBox {
        display: flex;
        justify-content: left;
        align-items: center;
        width: auto;
        border-bottom: 1px solid black;
        color: teal;
    }
        #top{
            align-items: center;
            font-weight: bold;
            font-size: 22px;
            text-align: center;
            text-decoration: underline;
        }
        #box1:hover {
            cursor:pointer;
            opacity: 0.5;
        }
        #box2:hover {
            cursor:pointer;
            opacity: 0.5;
        }
        #box3:hover {
            cursor:pointer;
            opacity: 0.5;
        }
