.nav {
    display: flex;
    border: 1px solid teal;
    grid-area: nav;
    background: white;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
}
#nestedGrid {
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-areas:
    "l r";
}
.blog {
    display: flex;
    border: 1px solid teal;
    grid-area: l;
    font-size: 22px
}
.about {
    display: flex;
    grid-area: r;
    font-size: 22px
}

.main:hover {
    opacity: ;
    transition: .3s ease;
    background-color: #DCDCDC;
    color: white;
}
