
.container{
    display: grid;
    display: 100%;
    grid-template-columns: 400px;
    grid-template-rows: 50px 20px 40px  250px 100px 130px;
    grid-template-areas:
    "hd"
    "sb"
    "nav"
    "main"
    "sidebar"
    "ft";
    background-color: #f8f8ff;
    justify-content: center;
    grid-gap: 15px;
}
    #header {
        display: flex;
        font-size: 50px;
        grid-area: hd;
        font-family: 'Josefin Sans', sans-serif;
        color: teal;
        align-items: center;
        justify-content: center;
    }
    #subtitle {
        display: flex;
        flex-wrap: nowrap;
        font-size: 20px;
        grid-area: sb;
        font-family: 'Playfair Display', serif;
        align-items: center;
        justify-content: center;
    }
    .nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-area: nav;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border-bottom: 3px solid teal;
    }
        .navBox {
            display: flex;
            font-family: 'Playfair Display', serif;
            font-size: 20px;
            justify-content: space-evenly;
        }
                #blog:hover {
                    cursor:pointer;
                    opacity: 0.5;
                }
                #about:hover {
                    cursor:pointer;
                    opacity: 0.5;
                }
    .sidebar {
        display: grid;
        grid-template-rows: 1fr 3fr  3fr  3fr  3fr;
        grid-area: sidebar;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        padding-left: 12px;
        gap: 2px;
    }
        .sideBox {
            display: flex;
            justify-content: left;
            align-items: center;
            width: auto;
            border-bottom: 1px solid black;
            color: teal;
        }
            #top{
                align-items: center;
                font-weight: bold;
                font-size: 22px;
                text-align: center;
                text-decoration: underline;
            }
            #box1:hover {
                cursor:pointer;
                opacity: 0.5;
            }
            #box2:hover {
                cursor:pointer;
                opacity: 0.5;
            }
            #box3:hover {
                cursor:pointer;
                opacity: 0.5;
            }
    .main{
        display: grid;
        grid-template-rows: 10fr 1fr;
        grid-area: main;
    }
        #picture {
            background-image: url('../images/never-stop.jfif');
        }
        #btn {
            font-size: 18px;
            font-family: 'Josefin Sans', sans-serif;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }
        #btn:hover{
            background-color: #F0F8FF;
            opacity: 0.5;
            transition: 0.15s ease-out;
        }
        .footer {
            display: grid;
            grid-template-columns: 1fr;
            grid-area: ft;
            font-family: 'Playfair Display', serif;
            font-size: 20px;
            justify-content: center;
            align-items: center;
        }
            .bottomBox {
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
            }
        #info {
            display: flex;
        }
    a {
        color: teal;
        text-decoration: none;
    }
    a.navLine{
        color: black;
        text-decoration: none;
    }
    a.home {
        color: teal;
        text-decoration: none;
    }
    a.link {
        color: black;
    }

    /* Tablet screens */
    @media (min-width: 600px) and (max-width:900px) {
      .container {
        // rules for medium-sized screen
        display: grid;
        grid-area: 100%;
        grid-template-columns: 125px 100px 125px 75px 175px;
        grid-template-rows: 50px 20px 40px  400px 75px;
        grid-template-areas:
        "hd hd hd hd hd"
        "sb sb sb sb sb"
        "nav nav nav nav nav"
        "main main main main sidebar"
        "ft ft ft ft ft";
        background-color: #f8f8ff;
        justify-content: center;
    }
  }

    /* Laptop screens */
    @media (min-width:901px) {
      .container {
        // rules for large screen
        display: grid;
        grid-area: 100%;
        grid-template-columns: 225px 300px 300px 250px 150px;
        grid-template-rows: 50px 20px 40px  400px 75px;
        grid-template-areas:
        "hd hd hd hd hd"
        "sb sb sb sb sb"
        "nav nav nav nav nav"
        "main main main sidebar sidebar"
        "ft ft ft ft ft";
        background-color: #f8f8ff;
        justify-content: center;
      }
    }
