a {
  color: teal;
  text-decoration: none;
}

a.articles {
  cursor: pointer;
  color: black;
}

a.articles:hover {
  opacity: 0.5;
}

a.card {
  position: absolute;
  color: black;
  text-decoration: none;
  padding: 100px 100px;
}

a.card:hover {
    font-weight: 900;
    text-decoration: underline;
    background-color: white;
}

a.blog {
  color: black;
  text-decoration: none;
}

a.navLine {
  color: black;
  text-decoration: none;
}

a.home {
  color: teal;
  text-decoration: none;
}

a.link {
  color: black;
}

p {
  margin: 0em;
  padding: 1em;
}

q {
  margin-bottom: 0em;
  margin-top: 0em;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: black;
  height: 1px;
}

h1,
h2 {
  text-align: center;
}

h3 {
  text-decoration: underline;
}

#bioImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

#cardImg {
    height: 100%;
    width: 100%;
}

figcaption {
    text-align: center;
}

form {
    display: inline-block;
    margin-left: 41.5%;
}
